<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DQUIViewlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1BBF00620F6F8E1005D59B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1BBF01E20F6F8E3005D59B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1BBF02920F6F8E3005D59B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
