<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdsp</key>
	<dict>
		<key>Baidu</key>
		<dict>
			<key>provider</key>
			<string>5</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>5171253</string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
		<key>GDTNative</key>
		<dict>
			<key>provider</key>
			<string>7</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>4030226789233155</string>
				<key>focusBanner</key>
				<string>1040129769837156</string>
				<key>detail</key>
				<string>6050627709739117</string>
				<key>download</key>
				<string>1000225709239188</string>
				<key>attach</key>
				<string>7060722759834129</string>
				<key>pause</key>
				<string>4080824739434220</string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string>6090919871932330</string>
				<key>focusBanner</key>
				<string>6090919871932330</string>
				<key>detail</key>
				<string>6090919871932330</string>
				<key>download</key>
				<string>6090919871932330</string>
				<key>attach</key>
				<string>6090919871932330</string>
				<key>pause</key>
				<string>6090919871932330</string>
			</dict>
		</dict>
		<key>GDTLaunch</key>
		<dict>
			<key>provider</key>
			<string>8</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>9040923799435251</string>
			</dict>
		</dict>
		<key>BaiduNative</key>
		<dict>
			<key>provider</key>
			<string>14</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string>5171252</string>
				<key>detail</key>
				<string>5171254</string>
				<key>download</key>
				<string>5171255</string>
				<key>attach</key>
				<string>5171256</string>
				<key>pause</key>
				<string>5171259</string>
			</dict>
		</dict>
		<key>InMobiSDKNative</key>
		<dict>
			<key>provider</key>
			<string>21</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>1507341277645</string>
				<key>focusBanner</key>
				<string>1507622492156</string>
				<key>detail</key>
				<string>1504734337440</string>
				<key>download</key>
				<string>1504705581676</string>
				<key>attach</key>
				<string>1505567309211</string>
				<key>pause</key>
				<string>1504980735597</string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string>1508313536417</string>
				<key>focusBanner</key>
				<string>1511393769084</string>
				<key>detail</key>
				<string>1508608226569</string>
				<key>download</key>
				<string>1507791332996</string>
				<key>attach</key>
				<string>1508263109204</string>
				<key>pause</key>
				<string>1510905203806</string>
			</dict>
		</dict>
		<key>ChangSiNative</key>
		<dict>
			<key>provider</key>
			<string>22</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string>851406633p2a2r9</string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>sdspex1</key>
	<dict>
		<key>Baidu</key>
		<dict>
			<key>provider</key>
			<string>5</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>5171253</string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
		<key>GDTNative</key>
		<dict>
			<key>provider</key>
			<string>7</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>5040926725301753</string>
				<key>focusBanner</key>
				<string>3090225715204755</string>
				<key>detail</key>
				<string>9030627755306726</string>
				<key>download</key>
				<string>7080924765203787</string>
				<key>attach</key>
				<string>7050422715407789</string>
				<key>pause</key>
				<string>5010621795802758</string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string>6090919871932330</string>
				<key>focusBanner</key>
				<string>6090919871932330</string>
				<key>detail</key>
				<string>6090919871932330</string>
				<key>download</key>
				<string>6090919871932330</string>
				<key>attach</key>
				<string>6090919871932330</string>
				<key>pause</key>
				<string>6090919871932330</string>
			</dict>
		</dict>
		<key>GDTLaunch</key>
		<dict>
			<key>provider</key>
			<string>8</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>4040228765309714</string>
			</dict>
		</dict>
		<key>BaiduNative</key>
		<dict>
			<key>provider</key>
			<string>14</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string>5171252</string>
				<key>detail</key>
				<string>5171254</string>
				<key>download</key>
				<string>5171255</string>
				<key>attach</key>
				<string>5171256</string>
				<key>pause</key>
				<string>5171259</string>
			</dict>
		</dict>
		<key>InMobiSDKNative</key>
		<dict>
			<key>provider</key>
			<string>21</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>1507341277645</string>
				<key>focusBanner</key>
				<string>1507622492156</string>
				<key>detail</key>
				<string>1504734337440</string>
				<key>download</key>
				<string>1504705581676</string>
				<key>attach</key>
				<string>1505567309211</string>
				<key>pause</key>
				<string>1504980735597</string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string>1508313536417</string>
				<key>focusBanner</key>
				<string>1511393769084</string>
				<key>detail</key>
				<string>1508608226569</string>
				<key>download</key>
				<string>1507791332996</string>
				<key>attach</key>
				<string>1508263109204</string>
				<key>pause</key>
				<string>1510905203806</string>
			</dict>
		</dict>
		<key>ChangSiNative</key>
		<dict>
			<key>provider</key>
			<string>22</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string>851406633p2a2r9</string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>ysdq</key>
	<dict>
		<key>Baidu</key>
		<dict>
			<key>provider</key>
			<string>5</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>5171253</string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
		<key>GDTNative</key>
		<dict>
			<key>provider</key>
			<string>7</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>4030226789233155</string>
				<key>focusBanner</key>
				<string>1040129769837156</string>
				<key>detail</key>
				<string>6050627709739117</string>
				<key>download</key>
				<string>1000225709239188</string>
				<key>attach</key>
				<string>7060722759834129</string>
				<key>pause</key>
				<string>4080824739434220</string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string>6090919871932330</string>
				<key>focusBanner</key>
				<string>6090919871932330</string>
				<key>detail</key>
				<string>6090919871932330</string>
				<key>download</key>
				<string>6090919871932330</string>
				<key>attach</key>
				<string>6090919871932330</string>
				<key>pause</key>
				<string>6090919871932330</string>
			</dict>
		</dict>
		<key>GDTLaunch</key>
		<dict>
			<key>provider</key>
			<string>8</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>9040923799435251</string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
		<key>BaiduNative</key>
		<dict>
			<key>provider</key>
			<string>14</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string>5171252</string>
				<key>detail</key>
				<string>5171254</string>
				<key>download</key>
				<string>5171255</string>
				<key>attach</key>
				<string>5171256</string>
				<key>pause</key>
				<string>5171259</string>
			</dict>
		</dict>
		<key>InMobiSDKNative</key>
		<dict>
			<key>provider</key>
			<string>21</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>1507341277645</string>
				<key>focusBanner</key>
				<string>1507622492156</string>
				<key>detail</key>
				<string>1504734337440</string>
				<key>download</key>
				<string>1504705581676</string>
				<key>attach</key>
				<string>1505567309211</string>
				<key>pause</key>
				<string>1504980735597</string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string>1508313536417</string>
				<key>focusBanner</key>
				<string>1511393769084</string>
				<key>detail</key>
				<string>1508608226569</string>
				<key>download</key>
				<string>1507791332996</string>
				<key>attach</key>
				<string>1508263109204</string>
				<key>pause</key>
				<string>1510905203806</string>
			</dict>
		</dict>
		<key>ChangSiNative</key>
		<dict>
			<key>provider</key>
			<string>22</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string>851406633p2a2r9</string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>ysdq_ipad</key>
	<dict>
		<key>Baidu</key>
		<dict>
			<key>provider</key>
			<string>5</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>5171253</string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
		<key>GDTNative</key>
		<dict>
			<key>provider</key>
			<string>7</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>2000123725506820</string>
				<key>focusBanner</key>
				<string>1080828785700892</string>
				<key>detail</key>
				<string>5030024725106833</string>
				<key>download</key>
				<string>5090624785403804</string>
				<key>attach</key>
				<string>7050927735301838</string>
				<key>pause</key>
				<string>7030721715906836</string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string>6090919871932330</string>
				<key>focusBanner</key>
				<string>6090919871932330</string>
				<key>detail</key>
				<string>6090919871932330</string>
				<key>download</key>
				<string>6090919871932330</string>
				<key>attach</key>
				<string>6090919871932330</string>
				<key>pause</key>
				<string>6090919871932330</string>
			</dict>
		</dict>
		<key>GDTLaunch</key>
		<dict>
			<key>provider</key>
			<string>8</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>2070727755301841</string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
		<key>BaiduNative</key>
		<dict>
			<key>provider</key>
			<string>14</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string>5171252</string>
				<key>detail</key>
				<string>5171254</string>
				<key>download</key>
				<string>5171255</string>
				<key>attach</key>
				<string>5171256</string>
				<key>pause</key>
				<string>5171259</string>
			</dict>
		</dict>
		<key>InMobiSDKNative</key>
		<dict>
			<key>provider</key>
			<string>21</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>1507341277645</string>
				<key>focusBanner</key>
				<string>1507622492156</string>
				<key>detail</key>
				<string>1504734337440</string>
				<key>download</key>
				<string>1504705581676</string>
				<key>attach</key>
				<string>1505567309211</string>
				<key>pause</key>
				<string>1504980735597</string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string>1508313536417</string>
				<key>focusBanner</key>
				<string>1511393769084</string>
				<key>detail</key>
				<string>1508608226569</string>
				<key>download</key>
				<string>1507791332996</string>
				<key>attach</key>
				<string>1508263109204</string>
				<key>pause</key>
				<string>1510905203806</string>
			</dict>
		</dict>
		<key>ChangSiNative</key>
		<dict>
			<key>provider</key>
			<string>22</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string>851406633p2a2r9</string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>kkys</key>
	<dict>
		<key>Baidu</key>
		<dict>
			<key>provider</key>
			<string>5</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>5171438</string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
		<key>GDTNative</key>
		<dict>
			<key>provider</key>
			<string>7</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>8040321765763433</string>
				<key>focusBanner</key>
				<string>6090623705865425</string>
				<key>detail</key>
				<string>3000824785766436</string>
				<key>download</key>
				<string>7080821795065437</string>
				<key>attach</key>
				<string>5050822715466478</string>
				<key>pause</key>
				<string>4000122755267429</string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string>6090919871932330</string>
				<key>focusBanner</key>
				<string>6090919871932330</string>
				<key>detail</key>
				<string>6090919871932330</string>
				<key>download</key>
				<string>6090919871932330</string>
				<key>attach</key>
				<string>6090919871932330</string>
				<key>pause</key>
				<string>6090919871932330</string>
			</dict>
		</dict>
		<key>GDTLaunch</key>
		<dict>
			<key>provider</key>
			<string>8</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>2060220745663434</string>
			</dict>
		</dict>
		<key>BaiduNative</key>
		<dict>
			<key>provider</key>
			<string>14</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string>5171668</string>
				<key>detail</key>
				<string>5171678</string>
				<key>download</key>
				<string>5171682</string>
				<key>attach</key>
				<string>5171690</string>
				<key>pause</key>
				<string>5171717</string>
			</dict>
		</dict>
		<key>InMobiSDKNative</key>
		<dict>
			<key>provider</key>
			<string>21</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string>1507341277645</string>
				<key>focusBanner</key>
				<string>1507622492156</string>
				<key>detail</key>
				<string>1504734337440</string>
				<key>download</key>
				<string>1504705581676</string>
				<key>attach</key>
				<string>1505567309211</string>
				<key>pause</key>
				<string>1504980735597</string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string>1508313536417</string>
				<key>focusBanner</key>
				<string>1511393769084</string>
				<key>detail</key>
				<string>1508608226569</string>
				<key>download</key>
				<string>1507791332996</string>
				<key>attach</key>
				<string>1508263109204</string>
				<key>pause</key>
				<string>1510905203806</string>
			</dict>
		</dict>
		<key>ChangSiNative</key>
		<dict>
			<key>provider</key>
			<string>22</string>
			<key>advertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string></string>
				<key>pause</key>
				<string></string>
			</dict>
			<key>testAdvertID</key>
			<dict>
				<key>launch</key>
				<string></string>
				<key>focusBanner</key>
				<string></string>
				<key>detail</key>
				<string></string>
				<key>download</key>
				<string></string>
				<key>attach</key>
				<string>851406633p2a2r9</string>
				<key>pause</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
